/* Set box-sizing */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Color variables */
:root {
  --primary: #17BEBB;
  --secondary: #8C1848;
  --secondary-light: #DE3F82;
  --white: #fff;
  /* Add a muted to the existing color variables in :root */
  --muted: #62555A;
}

.note-list {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (min-width: 600px) {

  .note-list {
    column-count: 2;
  }
}

@media (min-width: 1000px) {
  .note-list {
    column-count: 3;
  }
}

@media (min-width: 1400px) {
  .note-list {
    column-count: 4;
  }
}