/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Nunito+Sans:wght@400;800&display=swap');

/* Set box-sizing */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background color */
  background-color: #F2C7BA;

  color: #372F32;
}

a {
  text-decoration: none;
}

form {
  margin: 1rem 0 3rem 1.5rem;
}

/* styling form buttons */
.form-button {
  background-color: var(--primary);
  border: 0;
  color: var(--white);
  flex-grow: 0;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 0 0.5rem;
}

/* input fields */
input {
  background-color: #EBAC98;
  color: var(--muted);
  flex-grow: 0;
  font-size: 1.1rem;
  width: 25%;
}

nav {
  -webkit-box-shadow: 2px 2px 4px 1px black;
  box-shadow: 2px 2px 4px 1px black;
  margin: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #EFBAA9;
}

ul {
  list-style-type: none;
}

.auth-input-buttons {
  margin-top: 0.5rem;
  background-color: var(--primary);
  color: white;

}

.canvas-li-name {
  color: var(--secondary-light);
  font-size: 1.25rem;
  font-weight: bold;
}

.canvas-list {
  margin: 2rem 0 0 1rem;
}

.delete-button {
  margin: 0 0 1rem 0rem;
  color: red;
  font-weight: bold;
  padding: 0.25rem;
}

.nav-links {
  color: #DE6E4B;
  font-weight: bold;
  font-size: 1.25rem;
}

.note {
  color: black;
  margin: 1rem;
  background-color: #FD8835;
  height: 10rem;
  width: 15rem;
  padding: 1rem;
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 4px 1px black;
  box-shadow: 2px 2px 4px 1px black;
  font-family: 'Caveat';
  font-size: 1.5rem;
}

.note-list {
  display: flex;
  flex-direction: column;
}

.edit-span {
  font-size: 0.75rem;
  color: #372F32;
}

.edit-note-span {
  font-size: 0.75rem;
  color: rgb(55, 53, 53);
  font-family: 'Nunito Sans';
}

#add-canvas {
  margin: 1rem 0 1rem;
}

#canvas-header {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

#dashboard {
  margin-left: 2rem;
}

#dashboard-header {
  font-size: 2rem;
  text-align: center;
}

.mid-level-header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.edit-header {
  text-align: center;
  margin-bottom: 2rem;
}

#greeting {
  font-size: 1rem;
}

#main-title {
  font-size: 4.5rem;
  text-align: center;
  color: var(--primary);
  margin: 2rem 0 0 0;
  font-family: 'Caveat', 'Nunito Sans', sans-serif;
}

#sub-title {
  text-align: center;
  font-size: 2rem;
  color: var(--primary);
  margin-top: -0.5rem;
  font-family: 'Caveat', 'Nunito Sans', sans-serif;
}

#nav-link-logout {
  color: red;
  font-size: 1.25rem;
}

#nav-links-ul {
  text-align: right;
  margin: 1rem 1.25rem 0 0;
  padding-bottom: 1rem;
}

#original-note-content {
  margin: 1rem 0 1rem 1rem;
}

#edit-note-form {
  margin: 1rem 0 1rem 1rem;
}

/* Color variables */
:root {
  --primary: #119290;
  --secondary: #8C1848;
  --secondary-light: #DE3F82;
  --tertiary: #DE6E4B;
  --white: #fff;
  --muted: #62555A;
}

.note-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 0.5rem;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (min-width: 600px) {

  .note-list {
    column-count: 2;
  }
}

@media (min-width: 1000px) {
  .note-list {
    column-count: 3;
  }
}

@media (min-width: 1400px) {
  .note-list {
    column-count: 4;
  }
}
